{# tpp_sidebar.html.twig #}
<div class="grid-col grid-col-right grid-col-3">
<!-- top posts -->
	<div class="widget widget-top-posts">
		<div class="widget-head" style="font-size:1.4em;">документы</div>
		<ul>
			<li>
				<a href="/{{lang}}/standard/tpp">
					<img src="/content/media/tpp_icon_1.png" width="270" height="110" alt="">
				</a>
				<p><a href="/{{lang}}/standard/tpp">Политика закупок.</a></p>
			</li>
			<li>
				<a href="/{{lang}}/standard/tpp/table">
					<img src="/content/media/tpp_icon_2.png" width="270" height="110" alt=""></a>
				<p><a href="/{{lang}}/standard/tpp/table">Рабочая таблица по оценке риска района поставщика.</a></p>
			</li>
			<li>
				<a href="/{{lang}}/standard/tpp/resume">
					<img src="/content/media/tpp_icon_3.png" width="270" height="110" alt=""></a>
				<p><a href="/{{lang}}/standard/tpp/resume">Общие выводы.</a></p>
			</li>
			<li>
				<a href="/{{lang}}/standard/tpp/manage">
					<img src="/content/media/tpp_icon_4.png" width="270" height="110" alt=""></a>
				<p><a href="/{{lang}}/standard/tpp/manage">Контроль поставщиков.</a></p>
			</li>
{#
			<li>
				<a href="/{{lang}}/standard/tpp/declare">
					<img src="/content/media/tpp_icon_5.png" width="270" height="110" alt=""></a>
				<p><a href="/{{lang}}/standard/tpp/declare">Декларация FSC-POL-01-004.</a></p>
			</li>
#}
			<li>
				<a href="/{{lang}}/standard/tpp/declare">
					<img src="/content/media/tpp_icon_6.png" width="270" height="110" alt=""></a>
				<p><a href="/{{lang}}/standard/tpp/declare">Декларация FSC-POL-01-004.</a></p>
			</li>			
		</ul>
	</div>
<!--/ top posts -->
</div>


