{% extends "layout/layout.html.twig" %}
	
{% block title %}
	{% if lang == 'en' %}
		PSB GEM HOLZ:Contacts
	{% endif %}
	{% if lang == 'ru' %}
		PSB GEM HOLZ:Контакты
	{% endif %}
{% endblock %}

{% block page_intro %}
	{% if lang=='ru' %}
			<div class="page-intro">
				<div class="pic" style="background-image: url('/content/media/2000x316xmap_ru.jpg')"></div>
				
				<div class="grid-row clearfix">
					<div class="page-title">Контакты</div>
					<div class="page-subtitle">Как нас найти, как проехать, как связаться.</div>
					{#<div class="bread-crumbs"><a href="/">Главная</a> - Контакты</div>#}
				</div>
			</div>
	{% endif %}
	{% if lang=='en' %}
			<div class="page-intro">
				<div class="pic" style="background-image: url('/content/media/2000x316xmap_en.jpg')"></div>
				
				<div class="grid-row clearfix">
					<div class="page-title">Contacts</div>
					<div class="page-subtitle">We on map, our phones. </div>
					{#<div class="bread-crumbs"><a href="/">Home</a> - Contacts</div>#}
				</div>
			</div>
	{% endif %}	
{% endblock %}

{% block page_section %}
	{% if lang == 'en' %}
		<div class="block block-map-3">
			<div class="block-head">Call or drop us an email</div>
			<div id="google-map" class="block-cont"></div>
			<!-- pasteboard -->
			<div class="block block-pasteboard">
				<img src="/content/media/logo_alt.png" width="90" height="90" alt="">
				<p>Address: St.Peterburg, Russia<br>Call us:{% for phone in config.phones %} {{phone}} {% endfor %}<br>E-mail: <a href="#">{{config.email}}</a></p>			
				<div class="icons">
					<a href="{{config.facebook}}"><i class="fa fa-facebook"></i></a><!--
					--><a href="{{config.twitter}}"><i class="fa fa-twitter"></i></a>
				</div>							
			</div>
			<!--/ pasteboard -->
		</div>
		{#
		<div>
			RuAddress{% for item in config.address.ru %}  {{ item }} {% endfor %}
		</div>
		#}
	{% endif %}

	{% if lang == 'ru' %}
		<div class="block block-map-3">
			<div class="block-head">Как с нами связаться:</div>
			<div id="google-map" class="block-cont"></div>
			<!-- pasteboard -->
			<div class="block block-pasteboard">
				<img src="/content/media/logo_alt.png" width="90" height="90" alt="">
				
				<p>
					Адрес: Россия, Санкт-Петербург<br/>
					пр-т. Большевиков 52/6 <br/>
					Телефоны: {% for phone in config.phones %} {{phone}} {% endfor %}
					<br/>
					E-mail: <a href="#">{{config.email}}</a>
				</p>			
				
				<div class="icons">
					<a href="{{config.facebook}}"><i class="fa fa-facebook"></i></a><!--
					--><a href="{{config.twitter}}"><i class="fa fa-twitter"></i></a>
				</div>							
			</div>
			<!--/ pasteboard -->
		</div>
    {% endif %}
{% endblock %}